* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100%;
    text-align: center;
}
/* Home css */

body {
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top; */
    background-image: url(https://images.pexels.com/photos/1646311/pexels-photo-1646311.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    width: 100%;
    height: 100%;
    letter-spacing: 0.02em;
}

h1 {
    color: white;
    font-size: 40;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    font-family: 'Noto Sans Thai', sans-serif;
}

/* Products css */
.container {
    max-width: 1190px;
    margin: 0 auto;
    display: flex;
    text-align: center;

}



.products-item {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    outline: 2px solid silver;
    background-color: rgb(255, 255, 255);
} 



.products-item:hover {
    outline: 2px solid rgb(0, 0, 0);
   
}   

.products-item-2 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    outline: 2px solid silver;
    background-color: rgb(255, 255, 255);
} 



.products-item-2:hover {
    outline: 2px solid rgb(0, 0, 0);
   
} 

.pd-item {
    text-align: center;
}

.pd-item img {
    width: 600px;
}

.pd-item a{
    text-align: center;
    font-family: 'Noto Sans Thai', sans-serif;
}


.pd-item h2{
    text-decoration: none;
    font-family: 'Noto Sans Thai', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);

}

.products-img {
    width: 100%;
}

.products-detail {
    padding: 1rem;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 40px;
    cursor: pointer;
    font-weight: bold;
}

.products-detail-1 {
    padding: 1rem;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 15px;
    text-align: center;
}

.products-detail-1 h2{
    font-weight: bold;
    text-align: left;
}

.products-detail-1 h3{
    font-weight: bold;
    text-align: left;
    color: #8a8585;
}

.products-con {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 0.5rem;
}

.products-img img {
    width: 100%;
    cursor: pointer;
}

.products-price {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.products-left{
    font-size: 20px;
}

.products-left1{
    font-size: 30px;
    color: red;
}

.products-right a {
    text-decoration: none;
}

.products-right1 a{
    text-decoration: none;
}


.products-right1:hover{
    text-decoration: none;
    background-color: rgb(255, 239, 93);
}

.products-right-1 {
    background-color: #ffc219;
    padding: 0.5rem;
    font-size: 20px;
    margin: 10px;
    border-radius: 2px;
}

.products-right-1 a{
    color: rgb(0, 0, 0);
}

.products-right-1:hover {
    background-color: rgb(255, 145, 0);
    
}   

.map {
    text-align: center;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.detaily {
    padding: 30px;
    text-align: center;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.con-img {
    text-align: center;
    margin-top: 20px;
    padding:10px;
}

.con-img a{
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.headers {
    margin-bottom: 10px;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

h2 {
    padding: 10px;
}

form {
    display: flex;
    margin: 20px;
    padding: 30px;
    align-items: center;
   
}

input {
    width:30%;
    height: 45px;
    margin-top: 20px;
}


button {
    width:190px;
    height: 50px;
    font-weight: bold;
    background-color: rgb(89, 89, 238);
    color: white;
    border-radius: 3px;
}

button:hover{
    text-decoration: none;
    background-color: rgb(0, 0, 0);
}

.btn1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

input[type="submit"] {
    width: 300px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
input[type="submit"]:hover {
    background-color: #45a049;
  }

.cancel-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color:#f32424;
    color: white;
    text-decoration: none;
    width:30%;
    height: 45px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 15px;
    text-decoration: none;
  }
  
.cancel-button a{
    color: white;
    text-decoration: none;
    
  }
.cancel-button:hover {
    background-color:#e64b4b;
  }
  
.java {
    text-align: center;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 15px;
}